/*
  Developer: Samuel Affolder
  Date: 06/10/2020

  Handles the look and feel of the webpage on index.html.  Pretty basic and simple because
  it is really only meant for my machine.
*/
body {
  margin: 0px;
}

body > main {
  padding-top: 182px;
}

header {
  background-image: url("images/header/header.png");
  box-shadow: 0 5px 5px lightgray;
  height: 182px;
  width: 100%;
  position: fixed;
}

header > div {
  bottom: 0px;
  font-size: 36pt;
  position: absolute;
}

#title {
  left: 15%;
}

#title, button {
  color: rgb(255, 217, 0);
  text-shadow: 2px 0 2px white;
}

#income {
  font-weight: bold;
  color: green;
  right: 34%;
}

button {
  background-color: black;
  border: gold;
  cursor: pointer;
}

#add-phone, #home-btn {
  bottom: 12px;
  font-size: 18pt;
  padding: 3px;
  position: absolute;
}

#add-phone {
  right: 12%;
}

#home-btn {
  right: 4%;
}

h1 {
  font-size: 40pt;
  font-family: 'Questrial', sans-serif;
}

#model {
  margin-top: 0;
  margin-bottom: 30px;
}

#phone-layout, #all-phones {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#phone-layout, #single-phone, #all-phones {
  display: flex;
}

#single-phone {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 15px;
}

#status-img {
  width: 30px;
  height: 30px;
}

#status {
  width: 60%;
}

#status-text {
  padding-left: 25px;
  font-size: 22pt;
}

#phone-img {
  width: 600px;
  height: 450px;
}

#phone-info {
  font-family: 'Barlow', sans-serif;
}

.phone-card {
  border-radius: 5px;
  box-shadow: 0 0 15px gray;
  margin: 20px;
  padding: 5px 5px 0px 5px;
  width: 330px;
  height: 400px;
  text-align: center;
}

.phone-img {
  margin: 5px;
}

#order-btn, #order-by {
  align-self: center;
  margin-left: 25px;
}

#order-btn {
  font-size: 20pt;
}

#order-by {
  height: 35px;
}

.hidden, #all-phones.hidden, #single-phone.hidden {
  display: none;
}