/*
  Developer: Samuel Affolder
  Date: 06/10/2020

  Handles the look and feel of the webpage on index.html.  Pretty basic and simple because
  it is really only meant for my machine.
*/
body {
  margin: 0px;
}

body > main {
  padding-top: 182px;
}

#phones-data, footer, #updated-form {
  background-color: lightgray;
}

header {
  background-image: url("images/header/header.png");
  height: 182px;
  width: 100%;
  position: fixed;
}

header, footer {
  box-shadow: 3px 3px 3px gold;
}

header > div {
  bottom: 0px;
  font-size: 36pt;
  position: absolute;
}

#title {
  left: 15%;
  text-shadow: 2px 0 2px white;
}

#title, button, #updated-form > h2, .part-selector, #all-phones > h2 {
  color: rgb(255, 217, 0);
}

#updated-form > h2, #all-phones > h2 {
  font-size: 30pt;
}

#income {
  font-weight: bold;
  right: 34%;
}

button, .phone-card, #single-phone, .part-selector, .box {
  background-color: white;
}

button {
  text-align: center;
  font-size: 18pt;
  border: 4px groove gold;
}

button#submit-btn {
  position: sticky;
  margin: 22px;
}

button, #updated-form, #order-by, #status-update {
  border: 2px thick black;
  border-radius: 2em;
  padding: 0.3em 0.8em;
  bottom: 7px;
}

button, #updated-form, .part-selector, #all-phones > h2 {
  text-shadow: 2px 0 2px black;
}

button:hover, .part-selector:hover {
  background-color: black;
  border: 2px thick gold;
}

.phone-card:hover {
  box-shadow: 0 0 15px gold;
}

#update-btn, #home-btn, #add-phone {
  position: absolute;
}

button, .phone-card, #order-by {
  cursor: pointer;
}

#add-phone {
  right: 12%;
  width: 175px;
}

#home-btn {
  right: 4%;
  width: 100px;
}

#update-btn {
  right: 12%;
  width: 225px;
}

h1 {
  font-size: 40pt;
  font-family: 'Questrial', sans-serif;
}

#model {
  margin-top: 0;
  margin-bottom: 30px;
}

#phone-layout, #all-phones, #phones, #parts {
  flex-direction: row;
  flex-wrap: wrap;
}

#phone-layout, #all-phones, #update-area, #parts {
  align-items: flex-start;
}

#phone-layout, #single-phone, #all-phones, #phones, .phone-card, #updated-form, #update-area, #parts {
  display: flex;
}

#phone-layout, #single-phone, #all-phones, #phones, #update-area, #updated-form {
  justify-content: center;
}

#single-phone {
  margin-top: 15px;
}

#single-phone, .phone-card, #updated-form {
  flex-direction: column;
}

#single-phone, #phones, #updated-form {
  align-items: center;
}

#status-img {
  width: 30px;
  height: 30px;
}

#status {
  width: 60%;
}

#status-text {
  padding-left: 25px;
  font-size: 22pt;
}

#phone-img {
  width: 600px;
  height: 450px;
}

#phone-info, .model-name, #updated-form {
  font-family: 'Barlow', sans-serif;
}

#status-update, #sell-price {
  width: 200px;
  height: 50px;
}

.phone-card {
  border-radius: 5px;
  box-shadow: 0 0 15px gray;
  padding: 5px 5px 0px 5px;
  width: 330px;
  height: 450px;
}

.phone-card, #parts {
  justify-content: flex-start;
}

#updated-form, .phone-card {
  margin: 20px;
}

.phone-img {
  margin: 5px;
  justify-self: center;
}

#order-btn, #order-by {
  align-self: center;
  margin-left: 25px;
  margin-right: 25px;
}

#order-btn {
  font-size: 20pt;
}

#order-by {
  height: 35px;
  border: 4px groove gold;
}

.status-img {
  width: 15px;
  height: 15px;
}

.status-img, .part-selector {
  margin: 15px;
}

.cost {
  margin-left: 25px;
}

.cost, .model-name {
  font-size: 17pt;
}

.model-name, .issues {
  margin-left: 15px;
}

#phones, footer, #update-area {
  margin-left: auto;
  margin-right: auto;
}

.debt, .cost {
  color: red;
}

.gain {
  color: green;
}

#issue-description {
  text-decoration: underline gold;
}

#update-area {
  width: 90%;
}

.part-selector {
  width: 285px;
  height: 50px;
  font-size: 15pt;
  text-align: center;
}

.box {
  background-color: lightgray;
  margin: 9px;
  float: left;
  width: 25px;
  height: 25px;
  padding: 4px;
}

.part-selector > p, .box {
  float: left;
}

.part-selector > p {
  margin-top: 11px;
}

.part-selector.selected > .box {
  background-color: gold;
}

footer {
  width: 85%;
  text-align: center;
  color: black;
  font-family: 'Montaga', serif;
  margin-bottom: 35px;
}

footer > *, #updated-form {
  padding: 12px;
}

footer > h1 {
  font-size: 18pt;
}

footer > p {
  font-size: 15pt;
}

.hidden, #phones.hidden, #single-phone.hidden, #all-phones.hidden, #update-area.hidden {
  display: none;
}